*{
    margin: 0;
    padding: 0;
    border: 0px solid rgb(34, 198, 176);
    color: beige;
}

@keyframes submit{
    0%{

    }
    50%{
        border-radius: 50%;
    }
    100%{
        transform: rotate(720deg);
        transform: translateX(200px);
    }
}

@keyframes spin{
    0%{

    }
    50%{
        scale: 2;
        transform: rotate(0);
    }
    100%{

        border-radius: 50%;
        scale: 1.25;
       }
}

@keyframes shadow{
    0% {box-shadow: 0 3px 3px red;}
    33% {box-shadow: -3px 0 3px blue;}
    66% {box-shadow: 0px -3px 3px darkcyan;}
    100% {box-shadow: 3px 0 3px yellowgreen;}
}

@keyframes logo{
    0%{}
    33%{ transform: rotate(0deg); scale: 1.3;}
    66%{transform: rotate(360deg); scale: 1;}
    100%{transform: rotate(360deg); scale: 1;}
}

@keyframes IMAT{
    0%{transform: translateY(-400px);}
    100%{transform: translateY(0px);}
}

@keyframes Preparatory{
    0%{transform: translateX(-400px);}
    100%{transform: translateX(0px);}
}

@keyframes School{
    0%{transform: translateY(400px);}
    100%{transform: translateY(0px);}
}

/******heading******/
.heading{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(Background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    border-bottom: 0px solid white;
    font-family: "Roboto Slab", serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    display: flex;
    padding: 2% 6%;
    padding-bottom: 1%;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

nav h1{
    border-radius: 15px;
    padding: 6px 15px 6px 15px;
    box-shadow: 0px 0px 4px rgb(4, 206, 186);
    font-family: "Roboto Slab", serif;
    backdrop-filter: blur(10px);
    
}
nav h1 a{
    text-decoration: none;
}

.nav-list{
    flex: 1;
    text-align: right;
}

.nav-list ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    text-decoration: none;
}

.nav-list ul li a{
    text-decoration: none;
}

.nav-list ul li a:hover{
    text-shadow: 0 0 3PX #ab18ef, 0 0 5px #ff0000;
    transition: 0.3s;
    
}

nav .fa{
    display: none;
}




.main-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    padding: 2%;
    text-align: justify;
    top: 30px;
    position: relative;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Head{
    font-size: 20px;
    margin: 0%;
    font-weight: 600;
}

.main-body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    position: relative;
    margin: 2%;
}

form {
    margin-top: 2%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    border-radius: 25px 25px;
}

.personal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}

.individual {
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 2%;
}

.individual input {
    width: 200px;
    height: 30px;
    margin-top: 10px;
    padding: 4%;
}



.individual input:hover {
    box-shadow: 0px 0px 3px aqua;
    transition: 0.3s;
}

.ability {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 65%;
}

.idk {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 6%;
}


label {
    padding: 1%;
}

input{
    padding: 1%;
    width: 35%;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 1%;
    background-color: rgba(42, 39, 39, 0.658);
}

input:hover{
    cursor: pointer;
}

textarea {
    background-color: rgba(42, 39, 39, 0.658);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 2%;
    resize: none;
    height: 70px;
    margin: 1%;
    width: 70%;
}

select{
    width: 100px;
    background-color: rgba(42, 39, 39, 0.658);
    color: wheat;
    margin: 1%;
    padding: 0.5%;
    border-radius: 4px;
    height: 30px;
}

select:hover{
    cursor: pointer;
}
fieldset{
    display: flex;
}

legend{
    padding: 1%;
}

fieldset label{
    width: 30%;
}

form h3{
    padding: 1%;
}
.checkbox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top: 2%;
    width: 100%;
}
.gg {
    display: flex;
    justify-content: space-evenly;
}

input.submit {
    align-self: flex-start;
    margin: 0%;
    margin-top: 6%;
    width: 100px;
    padding: 2%;
    background-color: rgb(19, 72, 74);

}

.footer {
    
    margin: 0%;
    margin-top: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credit{
    font-family:cursive;
    font-size: 10px;
    text-shadow: 0px 0px 3px cyan;
    margin: 0%;
}
.Contact{
    display: flex;
    justify-content: center;
    width: 10%;
    margin-top: 1%;
}

.Contact a{
    margin-left: 10%;
}

.submit{
    width: 15%;
    padding: 1%;
    background-color: rgba(42, 39, 39, 0.658);
    border-radius: 10px;
}

.submit:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.5s;
    box-shadow: 0px 0px 3px cyan;
}
.submit:focus{
    cursor: grabbing;
    background-color: aqua;
    box-shadow: 0px 0px 3px white;
}
@media(max-width: 800px){
    .nav-list ul li{
        display: block;
    }
    .nav-list{
        position: fixed;
        background: #030831fa;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-list ul{
        padding: 30px;
    }
}


@media screen and (max-width: 1200px){
    .main{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content:center;
    }
    .main-header{
        flex-direction: row;
        justify-content: space-evenly;
        width: 95%;
        top: 10%
    }

    .logo{
        margin: 3%;
    }
    #IMAT{
        text-align: right;
    }
    #Preparatory{
        text-align: right;
    }
    #School{
        text-align: right;
    }
    .main-body{
        width: 100%;
        border: 0px solid red;
        top: 10%;
    }
}

@media screen and (max-width: 690px) {

    *{
        border: 0px solid red;
    }
    .main-header{
      flex-direction: column;
    }
    .main{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content:center;
    }

    .main-body{
        width: 100%;
    }

    form{
        display: flex;
        flex-direction: column;
    }

    .personal .individual{
        width: 90%;
        align-self: center;
    }

    .personal input{
        width: 98%;
        height: 40px;
        margin-right: 2%;
    }

    label{
        font-size: 16px;
    }

    textarea{
        width: 350px;
    }
    .personal{
        width: 100%;
        align-self: center;
    }
    .ability{
        margin-top: 4%;
        width: 100%;
    }
}
